# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
build/
sdist/
*.egg-info/
*.wheel
tmp/

# Installed packages
# venv/
# ENV/
# myenv/
# env/
# *env/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.py,cover
*.py,tcov
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*/settings/local.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx stuff:
docs/_build

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.sock

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*.log
*.user
*.sublime-project
*.sublime-workspace

.venv/
.ropeproject/
*.log
.DS_Store
